<h1>Edit Student </h1>

<%= display_errors_for(@student)%>
<%= form_for(@student) do |f|%>
    <%=f.label :name, "Student Name"%>
    <%=f.text_field :name%>
    <br><br>
    <%=f.label :studentID, "Student ID:"%>
    <%=f.text_field :studentID%>
    <br><br>
    <%=f.submit "Update student"%>
<%end%>