<h1>New Course</h1>
<%= display_errors_for(@course)%>
<%=form_for @course do |f| %>

    <%=f.label :course_name,"Course Name:"%>
    <%=f.text_field :course_name%>
    <br><br>
    
    <%=f.label :profesor_name,"Profesor Name:"%>
    <%=f.text_field :profesor_name%>
    <br><br>
    <%=f.label :length,"Course length:"%>
    <%=f.text_field :length%>
    <br><br>
    <%=f.label :number_videos,"Nomber of Videos:"%>
    <%=f.text_field :number_videos%>
    <br><br>
    <%=f.submit "Create a course"%>
    <%end%>