<!DOCTYPE html>
<html>
  <head>
    <title>ElearningRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  #create the parent first before the childreen
  #it is better to put your navbar here so it can be display on all pages
  #after resource we precise the column name and add data type if int
  
  <nav>
  <%=link_to 'Students', students_path%>
  <%if user_signed_in?%>
  <%=form_tag(destroy_user_session_path, method: :delete, style: "display:inline-block;") do %>
    <%=submit_tag "Sign Out"%>
    <%end%>
    <%else%>
    <%=link_to 'Sign Up', new_user_registration_path%>
    <%=link_to 'Sign In',new_user_session_path%>
    <%end%>
  </nav>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  #for page not found
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
  
  <%= yield %>
  </body>
</html>
